<!doctype html>
<html>
  <head>
    <title>Upload Files</title>
    <style type="text/css">
      * {font-family:sans-serif;}
      html {background:#ccc;padding:15px;}
      body {background:#eee;padding:15px;}
      h1 {margin-top:0;}
    </style>
  </head>
  <body>
    <h1>Files</h1>
    <ul>
      {% for file in files %}
        <li>{{ file.key }}</li>
      {% endfor %}
    </ul>
    <form action="/upload" enctype="multipart/form-data" method="post">
      <h2>Upload File</h2>
      File:
      <input type="file" name="file" />
      <br/>
      <input type="submit" value="Upload" />
    </form>
  </body>
</html>
